.unwanted-form__flex-block
    .unwanted-form__input-container-100
        .exo_13_regular.unwanted-form__grey-label Вложение 
        label.unwanted-form__input-file-label(for="unwantedPtFormAttachmentFile") Обзор
        input.unwanted-form__input-file-field(type="file" name="unwantedPtFormAttachmentFile" id="unwantedPtFormAttachmentFile")

.ds-input-file
    .ds-input-file__label-title
    label.ds-input-file__label(for="dsInputFile") Введите Имя
        .ds-input-file__file-name
        .ds-input-file__button
        input.ds-input-file__html-field(id="dsInputFile" type="file")
    .helper-text введите имя