/*
ds-input-file
стилизованный input file
*/

// главный контейнер
.ds-input-file {
  margin-top: .5rem;
  margin-bottom: .5rem;
  width: 100%;
}

// надпись над полем
.ds-input-file__label-title {
  display: block;
  padding-bottom: .5rem;
  padding-left: .5rem;
  font-size: .875rem;
  color: #848484;
}

// лейбл стилизованный под поле
.ds-input-file__label {
  position: relative;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  width: 100%;
  height: $field-height;
  font-size: .8125rem;
  color: #979797;
}

// кнопка загрузки
.ds-input-file__button {
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 4.5rem;
  height: 100%;
  border-top-right-radius: $borderRadius;
  border-bottom-right-radius: $borderRadius;
  background-color: $borderColor;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}

// контейнер для название загруженного файла
.ds-input-file__file-name-container {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  padding-right: .5rem;
  padding-left: .5rem;
  width: calc(100% - 4.5rem);
  height: 100%;
  border: $borderSize solid $borderColor;
  border-top-left-radius: $borderRadius;
  border-bottom-left-radius: $borderRadius;
  font-size: .875rem;
}

// название загруженного файла
.ds-input-file__file-name {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

// скрываем оригинальный input
.ds-input-file__html-field {
  display: none;
}

// if error
.ds-input-file.error {

  .ds-input-file__file-name-container {
    border-color: red;
  }
}
