// стрелка указатель раскрывающегося списка
.ds-arrow-pointer {
  position: absolute;
  top: calc(50% - .75em);
  right: .25em;
  width: 1.5em;
  height: 1.5em;
  font-size: 1em;
  transition: transform 100ms;
}

.ds-arrow-pointer:before,
.ds-arrow-pointer:after {
  content: "";
  position: absolute;
  top: .44em;
  width: .18em;
  height: .82em;
  border-radius: .15em;
  background: red;
}

.ds-arrow-pointer:before {
  left: .45em;
  transform: rotate(-45deg);
}

.ds-arrow-pointer:after {
  left: .95em;
  transform: rotate(45deg);
}
