.ds-accordion
    .ds-accordion__headline Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis assumenda facere natus nemo cumque. Dolor similique quam consequuntur magni.
        .ds-arrow-pointer
    .ds-accordion__dropdown
        .ds-accordion__description Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci, itaque libero! Doloremque deserunt unde vel iste quisquam vitae harum consectetur cum ducimus commodi at eveniet reprehenderit ad quibusdam quia earum, quos sint animi, quaerat maiores repellendus sed iusto facilis! Iure cumque beatae numquam accusantium quisquam, labore molestias, quos hic odit mollitia amet ipsa ab iste eaque ratione explicabo fuga est doloremque harum. Deleniti, veniam.