extends ../../templates/index

block variables
    - var pageClass = 'modal-page'

block content
    .section-modal
        button.ds-modal-open-btn.modal-info-open Modal info
        button.ds-modal-open-btn.modal-message-open Modal message
        button.ds-modal-open-btn.modal-error-open Modal error 
        //- .test фыв ууууук куфв ывфыв фвыфв ывdfg fsa sdf

block scripts
    include ../../ds-components/ds-modal-info/ds-modal-info
    include ../../ds-components/ds-modal-message/ds-modal-message
    include ../../ds-components/ds-modal-error/ds-modal-error