extends ../../templates/index

block content
    button.ds-modal-open-btn(data-type="info") Info modal
    button.ds-modal-open-btn(data-type="message") Message modal
    button.ds-modal-open-btn(data-type="error") Error modal