extends ../../templates/index

block content
    .ds-accordion__page-wrapper
        include ../../components/ds-accordion/ds-accordion
        include ../../components/ds-accordion/ds-accordion
        include ../../components/ds-accordion/ds-accordion
        include ../../components/ds-accordion/ds-accordion
        include ../../components/ds-accordion/ds-accordion
        include ../../components/ds-accordion/ds-accordion
        include ../../components/ds-accordion/ds-accordion