.ds-select
    label
        .ds-select__label-text Выбрите тип запроса
        select#userName.ds-select__html-select(name='userName')
            option(value='empty', selected='true')
            option(value='option1') Тип запроса номер 1
            option(value='option2') Тип запроса номер 2
            option(value='option3') Тип запроса номер 3
            option(value='option4') Тип запроса номер 4
            option(value='option4') Тип запроса номер 5
    .ds-select__dropdown-container
        .ds-select__open-button Выберите тип запроса
        .ds-select__dropdown-block
            ul.ds-select__options-list
    .ds-select__helper-text Выберите тип запроса