// главная панель навигации
.main-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  padding: 0 1.5rem;
  height: 3.5rem;
  background-color: #ed6d37;
}

// обертка
.main-header__wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
}

// ссылка с логотипом
.main-header__logo-container {
  flex-grow: 0;
  display: block;
  width: 10rem;
  height: 2.5rem;
  background-color: #ffffff;
}

// главное меню
.main-header__menu-container {
  flex-grow: 1;
}

// кнопка мобильного меню
.mob-menu__sandwich {
  position: relative;
  flex-grow: 0;
  width: 3.5rem;
  cursor: pointer;
}

// картинка сендвич
.mob-menu__sandwich-noactive,
.mob-menu__sandwich-active {
  position: absolute;
  top: calc(50% - .75rem);
  left: calc(50% - .75rem);
  width: 1.5rem;
  height: 1.5rem;
}

// картинка крестик
.mob-menu__sandwich-active {
  opacity: 0;
}

// активный сендвич становится крестиком
.active {
  // картинка сендвич
  .mob-menu__sandwich-noactive {
    opacity: 0;
  }

  // картинка крестик
  .mob-menu__sandwich-active {
    opacity: 1;
  }
}
