.main-header
    .main-header__wrapper
        .main-header__logo-container
        .main-header__menu-container
        .main-header__mob-menu-container
            .ds-mob-menu-btn
                span
                span
                span