.main-header
    .main-header__wrapper
        a(href="#").main-header__logo-container
        .main-header__menu-container

        .mob-menu__sandwich
            img.mob-menu__sandwich-noactive(src="./images/mob-menu__sandwich.svg", alt="")
            img.mob-menu__sandwich-active(src="./images/mob-menu__close-button.svg", alt="")