.dev-panel
    ul.dev-panel__menu-list
        li.dev-panel__menu-item
            a(href="index.html") Модалка
        li.dev-panel__menu-item
            a(href="form.html") Форма
        li.dev-panel__menu-item
            a(href="accordion.html") Аккордион 