.ds-checkbox2.error
    label.ds-checkbox__label
        input.ds-checkbox__input(type="checkbox")
        .ds-checkbox__sprite-container 
        .ds-checkbox__text-container Даю согласие на использование моих персональных данных, даю согласие на использование моих персональных данных

.ds-checkbox2
    label.ds-checkbox__label
        input.ds-checkbox__input(type="checkbox")
        .ds-checkbox__sprite-container 
        .ds-checkbox__text-container Даю согласие на использование моих персональных данных, даю согласие на использование моих персональных данных
