// ds-checkbox v.1.2

.ds-checkbox2 {
  @include margin-auto;
  max-width: 40rem;

  // обертка для всех элементов
  .ds-checkbox__label {
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    margin-top: .5rem;
    width: 100%;
  }

  // скрываем настоящий чекбокс
  .ds-checkbox__input {
    display: none;
  }

  // контейнер лоя галочки
  .ds-checkbox__sprite-container {
    flex-grow: 0;
    flex-shrink: 0;
    margin-top: .125rem;
    margin-right: .75rem;
    width: 1.5rem;
    height: 1.5rem;
    background: url("../images/form-checkbox-1.svg");
    background-position: center;
    background-size: 100% 100%;
  }

  // меняем картинку галочки
  .ds-checkbox__input:checked ~ .ds-checkbox__sprite-container {
    background: url("../images/form-checkbox-2.svg");
    background-position: center;
    background-size: 100% 100%;
  }

  // текст для чекбокса
  .ds-checkbox__text-container {
    flex-grow: 1;
    font-size: 1rem;
  }
}

// ошибка валидации + класс error
.ds-checkbox2.error {

  .ds-checkbox__text-container {
    color: rgb(209, 28, 28);
  }
}
