doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Главная
  body
    .wrapper

      block content

    include ../components/dev-menu/dev-menu
    include ../components/ds-modal-info/ds-modal-info
    include ../components/ds-modal-message/ds-modal-message
    include ../components/ds-modal-error/ds-modal-error

    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")