doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Главная
  body
    .wrapper
      include ../components/ds-main-header/ds-main-header
      block content
    include ../components/ds-mob-menu/ds-mob-menu
    // include ../components/dev-menu/dev-menu
    include ../components/ds-modal-info/ds-modal-info
    include ../components/ds-modal-message/ds-modal-message
    include ../components/ds-modal-error/ds-modal-error
    script(src="js/jquery-3.3.1.min.js")
    