.ds-checkbox
    label.ds-checkbox__label(for="userAgreement") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat quae error rem, aperiam modi 
        a(href="#") nulla similique 
        | consectetur id laboriosam! Molestias perspiciatis recusandae tenetur numquam?
        input.ds-checkbox__checkbox(type="checkbox" id="userAgreement")
        span.ds-checkbox__span