// стилизованный чекбокс
.ds-checkbox {
  @include user-select-none();
  position: relative;
  padding-left: 2rem;
  color: #848484;
}

// прячем html чекбокс
.ds-checkbox__checkbox {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

// текст с описанием
.ds-checkbox__label {
  font-size: 1rem;
}

// квадрат для галочки
.ds-checkbox__span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 1.5em;
  height: 1.5em;
  border: .2em solid red;
  border-radius: .2em;
  cursor: pointer;
}

// галочка для кадрата
.ds-checkbox__span:after {
  content: "";
  position: absolute;
  top: .07em;
  left: .35em;
  display: none;
  width: .5em;
  height: .9em;
  border-right: .2em solid green;
  border-bottom: .2em solid green;
  transform: rotate(45deg);
}

.ds-checkbox__checkbox:checked ~ .ds-checkbox__span {
  border: .2em solid green;
}

.ds-checkbox__checkbox:checked ~ .ds-checkbox__span:after {
  display: block;
}

// меняем цвет текста на красный если есть класс .error
.ds-checkbox.error .ds-checkbox__label {
  color: red;
}
