extends ../../templates/index

block variables
    - var pageClass = 'form-page'

block content
    .section-form



        //- login form
        form.ds-form(id="form" action="ds-select.html")
            .form-wrapper

                .ds-input.validationOn
                    label.ds-input__label(for="userName") Введите Имя
                        input.ds-input__field(type="text" id="userName" placeholder="Введите Имя")
                    .helper-text введите имя
                
                .ds-input.validationOn
                    label.ds-input__label(for="userName") Введите Имя
                        input.ds-input__field(type="text" id="userName" placeholder="Введите Имя")
                    .helper-text введите имя
                
                .ds-input.validationOn
                    label.ds-input__label(for="userName") Введите Имя
                        input.ds-input__field(type="text" id="userName" placeholder="Введите Имя")
                    .helper-text введите имя
                
                .ds-input.validationOn
                    label.ds-input__label(for="userName") Введите Имя
                        input.ds-input__field(type="text" id="userName" placeholder="Введите Имя")
                    .helper-text введите имя













        //- all forms item 
        form.ds-form(id="form-test" action="ds-select.html")

            .form-wrapper
                .ds-input
                    label.ds-input__label Введите Имя
                    .ds-input__wrapper
                        input.ds-input__field(placeholder="Введите Имя")
                    .helper-text введите имя

            .form-wrapper
                .ds-input
                    label.ds-input__label Введите Фамилию
                    .ds-input__wrapper
                        input.ds-input__field(placeholder="Введите Фамилию")
                    .helper-text введите фамилию

            .form-wrapper
                .ds-input-pass
                    label.ds-input__label Введите пароль
                    .ds-input__wrapper
                        input.ds-input__field(type="password")
                        span.ds-input__eye-icon
                    .helper-text введите пароль

            .form-wrapper
                .ds-input-pass
                    label.ds-input__label Повторите пароль
                    .ds-input__wrapper
                        input.ds-input__field(type="password")
                        span.ds-input__eye-icon
                    .helper-text пароли не совпадают
                    

            .form-wrapper
                .ds-select
                    label
                        .ds-select__label-text Выбрите тип запроса
                        select#userName.ds-select__html-select(name='userName')
                            option(value='empty', selected='true')
                            option(value='option1') Тип запроса номер 1
                            option(value='option2') Тип запроса номер 2
                            option(value='option3') Тип запроса номер 3
                            option(value='option4') Тип запроса номер 4
                            option(value='option4') Тип запроса номер 5
                    .ds-select__dropdown-container
                        .ds-select__open-button Выберите тип запроса
                        .ds-select__dropdown-block
                            ul.ds-select__options-list
                    .ds-select__helper-text Выберите тип запроса

            .form-wrapper
                .ds-select.error
                    label
                        .ds-select__label-text Выбрите тип ответа который на ваш взгляд верный
                        select#userName.ds-select__html-select(name='userName')
                            option(value='empty', selected='true')
                            option(value='option1') Тип ответа номер 1
                            option(value='option2') Тип ответа номер 2
                            option(value='option3') Тип ответа номер 3
                            option(value='option4') Тип ответа номер 4
                            option(value='option4') Тип ответа номер 5
                    .ds-select__dropdown-container
                        .ds-select__open-button Выбрите тип ответа который на ваш взгляд верный
                        .ds-select__dropdown-block
                            ul.ds-select__options-list
                    .ds-select__helper-text Выберите тип ответа

            .form-wrapper
                .ds-select
                    label
                        .ds-select__label-text Выбрите тип ошибки
                        select#userName.ds-select__html-select(name='userName')
                            option(value='empty', selected='true')
                            option(value='option1') Тип ошибки номер 1
                            option(value='option2') Тип ошибки номер 2
                            option(value='option3') Тип ошибки номер 3
                            option(value='option4') Тип ошибки номер 4
                            option(value='option4') Тип ошибки номер 5
                    .ds-select__dropdown-container
                        .ds-select__open-button Выберите тип ошибки
                        .ds-select__dropdown-block
                            ul.ds-select__options-list
                    .ds-select__helper-text Выберите тип ошибки

            .form-wrapper
                .ds-multi-select
                    label
                        .ds-multi-select__label-text Выбрите тип запроса
                        select#userName.ds-multi-select__html-select(name='userName')
                            option(value='empty', selected='true')
                            option(value='option1') Тип запроса номер 1
                            option(value='option2') Тип запроса номер 2
                            option(value='option3') Тип запроса номер 3
                            option(value='option4') Тип запроса номер 4
                            option(value='option4') Тип запроса номер 5
                    .ds-multi-select__dropdown-container
                        .ds-multi-select__open-button Выберите тип запроса
                        .ds-multi-select__dropdown-block
                            ul.ds-multi-select__options-list
                    .ds-multi-select__helper-text Выберите тип запроса
            
            .form-wrapper
                .ds-multi-select
                    label
                        .ds-multi-select__label-text Выбрите тип ответа который на ваш взгляд верный
                        select#userName.ds-multi-select__html-select(name='userName')
                            option(value='empty', selected='true')
                            option(value='option1') Тип ответа номер 1
                            option(value='option2') Тип ответа номер 2
                            option(value='option3') Тип ответа номер 3
                            option(value='option4') Тип ответа номер 4
                            option(value='option4') Тип ответа номер 5
                    .ds-multi-select__dropdown-container
                        .ds-multi-select__open-button Выберите тип ответа
                        .ds-multi-select__dropdown-block
                            ul.ds-multi-select__options-list
                    .ds-multi-select__helper-text Выберите тип ответа

            .form-wrapper
                .ds-multi-select
                    label
                        .ds-multi-select__label-text Выбрите тип ошибки
                        select#userName.ds-multi-select__html-select(name='userName')
                            option(value='empty', selected='true')
                            option(value='option1') Тип ошибки номер 1
                            option(value='option2') Тип ошибки номер 2
                            option(value='option3') Тип ошибки номер 3
                            option(value='option4') Тип ошибки номер 4
                            option(value='option4') Тип ошибки номер 5
                    .ds-multi-select__dropdown-container
                        .ds-multi-select__open-button Выберите тип ошибки
                        .ds-multi-select__dropdown-block
                            ul.ds-multi-select__options-list
                    .ds-multi-select__helper-text Выберите тип ошибки

            .form-wrapper
                .ds-textarea
                    label.ds-input__label Несколько слов о себе
                    .ds-input__wrapper
                        textarea.ds-input__field Несколько слов о себе
                        .ds-input__field.ds-textarea__hidden-div
                    .helper-text введите имя

            .form-wrapper
                .ds-input-file
                    .ds-input-file__label-title Прикрепите фото
                    label.ds-input-file__label(for="dsInputFile1")
                        .ds-input-file__file-name-container
                            .ds-input-file__file-name ...
                        .ds-input-file__button Обзор
                        input.ds-input-file__html-field(id="dsInputFile1" type="file")
                    .helper-text введите имя
                
                .ds-input-file.error
                    .ds-input-file__label-title Прикрепите фото
                    label.ds-input-file__label(for="dsInputFile2")
                        .ds-input-file__file-name-container
                            .ds-input-file__file-name ...
                        .ds-input-file__button Обзор
                        input.ds-input-file__html-field(id="dsInputFile2" type="file")
                    .helper-text выберите файл

                .ds-input-file.x3
                    .ds-input-file__label-title Прикрепите фото
                    label.ds-input-file__label(for="dsInputFile3")
                        .ds-input-file__file-name-container
                            .ds-input-file__file-name ...
                        .ds-input-file__button Обзор
                        input.ds-input-file__html-field(id="dsInputFile3" type="file")
                    .helper-text введите имя
            
            .form-wrapper
                .ds-checkbox
                    label.ds-checkbox__label(for="userAgreement") Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        input.ds-checkbox__html-checkbox(type="checkbox" id="userAgreement")
                        span.ds-checkbox__span

                .ds-checkbox
                    label.ds-checkbox__label(for="userPolicy") Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        input.ds-checkbox__html-checkbox(type="checkbox" id="userPolicy")
                        span.ds-checkbox__span

            .form-wrapper
                .ds-radiobtn
                    label.ds-radiobtn__label(for="dsRadioBtnYes") Да
                        input.ds-radiobtn__html-radiobtn(type="radio" checked name="dsRadioBtnYesNo" id="dsRadioBtnYes")
                        span.ds-radiobtn__span

                .ds-radiobtn
                    label.ds-radiobtn__label(for="dsRadioBtnNo") Нет
                        input.ds-radiobtn__html-radiobtn(type="radio" name="dsRadioBtnYesNo" id="dsRadioBtnNo")
                        span.ds-radiobtn__span

            .form-wrapper
            
                input.ds-submit-button(type="submit" value="Отправить")