// секция с формой
.section-form {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.form-wrapper {
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 20rem;
}

.ds-submit-button {
  margin-top: 3rem;
  width: 100%;
  height: 3.125rem;
  border: 0;
  border-radius: 0;
  border-radius: .3rem;
  box-shadow: none;
  background: red;
  font-size: 1.2rem;
  color: #ffffff;
  cursor: pointer;
}
