extends ../../templates/index

block content
    section.sticky-section
        .sticky-section__top-container
            .sticky-section__fixed-block.sticky-block
            .sticky-section__scroll-block
        .sticky-section__bottom-container