.ds-mob-menu
    ul.ds-mob-menu__list
        li.ds-mob-menu__item
            a(href="#").ds-mob-menu__link
         li.ds-mob-menu__item
            a(href="#").ds-mob-menu__link
         li.ds-mob-menu__item
            a(href="#").ds-mob-menu__link
         li.ds-mob-menu__item
            a(href="#").ds-mob-menu__link
         li.ds-mob-menu__item
            a(href="#").ds-mob-menu__link
         li.ds-mob-menu__item
            a(href="#").ds-mob-menu__link
