extends ../../templates/index

block content
    .ds-accordion__page-wrapper

        .ds-accordion.ds-accordion-list-01
            .ds-accordion__component
                .ds-accordion__headline 01 Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    .ds-arrow-pointer
                .ds-accordion__dropdown
                    .ds-accordion__description Lorem ipsum, dolor sit amet consectetur adipisicing elit. Lorem ipsum, dolor sit amet consectetur adipisicing elit.

        .ds-accordion.ds-accordion-list-02
            .ds-accordion__component
                .ds-accordion__headline 02 Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    .ds-arrow-pointer
                .ds-accordion__dropdown
                    .ds-accordion__description Lorem ipsum, dolor sit amet consectetur adipisicing elit. Lorem ipsum, dolor sit amet consectetur adipisicing elit.

        .ds-accordion.ds-accordion-list-03
            .ds-accordion__component
                .ds-accordion__headline 03 Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    .ds-arrow-pointer
                .ds-accordion__dropdown
                    .ds-accordion__description Lorem ipsum, dolor sit amet consectetur adipisicing elit. Lorem ipsum, dolor sit amet consectetur adipisicing elit.